service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /app/{document} {
      allow read: if request.auth.uid == "m42gwHOSlbUniorNjigqa1nnHIE3";
      allow write: if request.auth.uid == "m42gwHOSlbUniorNjigqa1nnHIE3";
    }
    match /polls/{poll} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }
    match /posts/{post} {
      allow read: if true;
      allow write: if request.auth.uid == "m42gwHOSlbUniorNjigqa1nnHIE3";
    }
    match /users/{userId} {
      match /{document=**} {
      	allow read, update, delete: if request.auth.uid == userId;
      	allow create: if request.auth.uid != null;
      }
    }
  }
}
