:host {
  display: flex;
  flex: 1;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

li {
  padding: .25em;
}

li:hover {
  background-color: var(--primary-color);
}

li:hover a {
  color: var(--background-color);
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}
