:host {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color) !important;
  padding: 1em;
}

:host([collapsed]) #content {
  /*
  height: 0;
  overflow: hidden;
  */
  display: none;
}

:host([collapsed]) #title {
  margin-bottom: 0;
}

#content {
  display: flex;
  flex:1;
  overflow: auto;
  border: 1px solid #CCC;
  padding: 1em;
}

#title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

:host([grow]) {
  flex: 1;
}

:host([scroll]) {
  overflow: auto;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #fff;
}

mwc-icon:hover {
  cursor: pointer;
}
