@import "../../GlobalStyles";

* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  padding: 0.25em 0;
}
