* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

grid-component {
  grid-template-columns: min-content auto;
}

.card-actions {
  grid-column: 1/-1;
  display: flex;
  justify-content: flex-end;
}
