:host {
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button {
  position: absolute;
  top: 0;
  right: 0;
}

.relative {
  position: relative;
}
