:host {
  display: flex;
  overflow: auto;
}

:host([hidden]) {
  display: none;
}

:host([direction="row"]) {
  flex-direction: row;
}

:host([direction="column"]) {
  flex-direction: column;
}

:host([grow]) {
  flex-grow: 1;
}

:host([scroll]) {
  overflow: auto;
}

:host(.row) ::slotted(my-flex) {
  margin-left: 1em;
}

:host(.row) ::slotted(my-flex:first-child) {
  margin-left: 0;
}