@import "../../GlobalStyles";

:host {
  display: grid;
  grid-gap: 1em;
  flex-direction: column;
  flex: 1;
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 1em;
}

:host([shadow]) {
  box-shadow: var(--box-shadow);
}

h3,
::slotted(h3) {
  display: flex;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--secondary-color);
}

::slotted([slot="title"]) a {
  display: flex;
  align-items: center;
}

::slotted([slot="content"]) {
  border: 1px solid var(--border-color);
  padding: var(--card-inner-padding, 1em);
  overflow-x: auto;
}

::slotted([slot="actions"]) {
  display: flex;
  justify-content: flex-end;
}

:host([collapsed]) {
  height: min-content;
}

:host([collapsed]) #content {
  display: none;
}

#title {
  display: flex;
  justify-content: space-between;
}
