@import "../../GlobalStyles";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  border: 1px solid var(--border-color);
  padding: 1em;
}

h3,
::slotted(h3) {
  display: flex;
  align-items: center;
  margin-block-start: 0;
}

::slotted([slot="title"]) a {
  display: flex;
  align-items: center;
}

::slotted([slot="content"]) {
  border: 1px solid var(--border-color);
  padding: var(--card-inner-padding, 1em);
  overflow-x: auto;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.content {
}

[slot="content"] {
  overflow: auto;
}
