:host {
  flex: 1;
}

.grid {
  position: relative;
  transition: opacity 0.8s linear 1s;
  overflow: hidden;
}

.images-loaded .grid {
  opacity: 1;
}

.item {
  position: absolute;
  margin: 5px;
  z-index: 1;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item-content {
  position: relative;
  cursor: pointer;
}

.item-content > img {
  display: block;
  border-radius: 6px;
}

card-component::part(content-container) {
  display: flex;
}

card-component [slot="content"] {
  flex: 1;
}

card-component [slot="body"] {
  flex: 1;
}

card-component {
  border: 1px solid var(--border-color);
  flex: 1;
  grid-template-rows: max-content auto;
  padding: 1rem;
}

clock-component {
  display: flex;
}

.tall,
.wide {
  display: flex;
}

.tall {
  width: 195px;
  height: 400px;
}

.wide {
  width: 400px;
  height: 195px;
}

card-component::part(card) {
  grid-template-rows: max-content auto max-content;
}

.centered {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
