body {
  --background-color: #2d2d35;
  --border-color: #808080;
  --border-radius: 0.25em;
  --card-inner-padding: 1em;
  --link-color: #15b4ff;
  --padding: 1em;
  --primary-color: #00ffff;
  --secondary-color: #00ffff;
  --text-color: #d5f0ee;
}
