:host([hidden]) {
  display: none;
}

a {
  color: var(--link-color, #000000);
  /* font-weight: 550; */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 1em;
}

[flex] {
  display: flex;
}

[grow] {
  flex-grow: 1;
}
