:host([hidden]) {
  display: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

[flex] {
  display: flex;
}

[grow] {
  flex-grow: 1;
}
